/* CSS Document */

body {
    font-family: "all-round-gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(225, 210, 191);
    display: flex;
    flex-direction: column;	
}

.header-section {
	 background-color: rgb(225, 210, 191, .8);
    font-size: 40px;
    z-index: 2;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0%;
    bottom: 87vh;
    left: 5vw;
    right: 5vw;
}

.logo {
	margin-left: 1%;
	margin-top: 3vh;
	display: flex;
	height: 30%;
    width: 30%;
}

.logo-mobile
{
	display: none;
}

.header-options
{
    color: rgb(8, 8, 7);
	text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    color: rgb(137,144,109);
}

ul{
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-around;
    font-size: 30px;
	margin-top: 6vh;
}

li {
    text-decoration: none;
    margin-top: 20px;
}

.projcts-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 13vh;	
}

.project-container{ 	
    margin-bottom: 3vh;
	margin-left: 5vw;
    margin-right: 5vw;
}

.project-intro{
    display: flex;
	padding-top: 10px;
}

.project-info-column-mobile
{
	display: none;
}

.horizontal-line 
{
    border: 0 solid rgb(137, 144, 109);
    border-top-width: 3px;
    border-radius: 1px;
    flex: 1;
    margin-bottom: 10px;
  }

.project-container-logo
{
	//background-color: red;
	display: flex;
    border: 3px solid rgb(184, 149, 110);
    border-radius: 5px;
	float: right;
	//height: 100%;
    width: 100%;
}

.project-info-column
{
	//background-color: red;
    width: 30%;
	position: relative;
}

.project-title
{
	//background-color: red;
	//display: flex;
	width: 70%; 
	//display: block;
}

.project-title-text
{
	//background-color: green;
	float: left;
	font-size: 3rem;
	font-weight: 500;
	text-align: left;
	margin-bottom: 2vh;
	//padding-top: 0.5%;
	//vertical-align: top;
}

.project-title-text-subtitle
{
	font-size: 1.5rem;
	font-weight: 400;
}

.project-intro-text
{
	//background-color: red;
	display: inline-block;
	//margin-top: 1vh;
	width: 100%;
	text-align: left;
	font-size: 1vw;
	margin-bottom: 5vh;
}

.project-info-category
{
	font-size: 1.2vw;
	margin-right: 8rem;
	margin-top: 0.75%;
	
	background-color: rgba(0, 0, 0, 0);
	color: rgb(183, 123, 102);
    border: 2px solid rgb(116, 115, 115);
    border-radius: 100px; 
    padding: 5px 11px;
    text-decoration: none;
	float: left;
	//vertical-align: top;
	//position: absolute;
  	//bottom: 0;
  	//left: 0;
}

.project-info-container
{
	//background-color: red;
	height: 40vh;
	display: flex;
}

.project-info-container-title
{
	//background-color: green;
	width: 30%;
	font-size: 1.2vw;
	text-align: left;
	float: left;
}

.project-info-container-specs
{
	//background-color: blue;
	width: 70%;
	//display: flex;
}

.project-info-container-question
{
	//background-color: red;
	width: 20vw;
	text-align: left;
	margin-bottom: 3vh;
}

p1
{
	font-size: 1vw;
	text-align: left;
	font-weight: 400;
	margin-bottom: 1.5vh;
}

p2
{
	text-align: left;
	font-weight: 500;
	font-size: 1.5vw;
}

.footer-container
{
	background: white;
}

.footer-text-info
{
	background-color: blue;
	padding-top: 1%;
	margin-left: 5vw;
    margin-right: 5vw;
}

.footer-divder
{
	margin-left: 5vw;
    margin-right: 5vw;
}

.footer-lower-section
{
	padding-top: 2vh;
	margin-left: 5vw;
    margin-right: 5vw;
	display: flex;
}

.footer-logo
{
	height: 10vh;
}

.social-media-container
{
	display: flex;
	padding-left: 3vw;
	padding-top: 1vh;
	height: 3vh;
}

.social-media-container-mobile
{
	display: none;
}

.footer-quote
{
	font-size: 1vw;
	font-weight: 400;
	margin-left: 60vw;
	margin-top: -2vh;
	text-align: right;
}

.horizontal-footer-list
{
	background-color: red;
	display: inline-flex;
	width: 86.2vw;
}

ul.horizontal-footer-list li
{
	background-color: yellow;
	vertical-align: bottom;
}

a {
    text-decoration: none;
    color: rgb(116, 115, 115);
}

button
{
	font-size: 1.2vw;
	margin-right: 8rem;
	
	background-color: rgba(0, 0, 0, 0);
	color: rgb(183, 123, 102);
    border: 2px solid rgb(116, 115, 115);
    border-radius: 100px; 
    padding: 5px 11px;
    text-decoration: none;
	float: left;
	vertical-align: bottom;
	position: absolute;
  	bottom: 0;
  	left: 0;
}

@media only screen and (max-width: 1000px){
    .hamburger{
        display: block;
        border: 0;
        background: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
       display: flex;
       flex-direction: column-reverse;
    }

    .logo {
        display: none;
    }
	
	.logo-mobile
	{
		margin: 7vw;
		display: flex;
		height: 30%;
    	width: 30%;
	}
	
	.horizontal-line 
	{
		border: 0 solid rgb(137, 144, 109);
		border-top-width: 3px;
		border-radius: 1px;
		flex: 1;
		margin-bottom: 1px;
  	}
	
	.projcts-section
	{
    	//display: flex;
    	//flex-direction: column;
    	//text-align: center;
    	//padding-top: 13vh;		
	}
	
	.project-container
	{ 	
    	margin-bottom: 1vh;
		margin-left: 5vw;
    	margin-right: 5vw;
	}
	
	.project-intro
	{
		//background-color: red;
	}
	
	.project-title
	{
		width: 100%;
	}
	
	.project-title-text
	{
		//background: red;
		font-size: 2.5em;
		width: 100%;
		padding-bottom: 2%;
		font-weight: 500;
	}
	
	
	.project-intro-text
	{
		font-size: 4vw;
	}
	
	.project-container-logo
	{
		border: 3px solid rgb(184, 149, 110);
   		border-radius: 5px;
	}
	
	.project-info-column
	{
		display: none;
		margin-top: 34vh;
		width: 100%;
	}
	
	.project-info-column-mobile
	{
		//background: red;
		//height: 10vh;
		margin-bottom: 2vh;
		display: flex;
		//vertical-align: bottom;
		float: right;
		
		//width: 100%;
		//position: relative;
		//top: 0vh;
	}

	.project-info-category-mobile
	{
		font-size: 4vw;
		color: rgb(183, 123, 102);
    	border: 2px solid rgb(116, 115, 115);
    	border-radius: 100px; 
    	padding: 4px 11px;
    	text-decoration: none;
	}
	
	.footer-lower-section
	{
		margin-left: 5vw;
    	margin-right: 5vw;
		height: 6vh;
		display: flex;
	}

	
	.footer-logo
	{
		padding-top: 0vh;
		margin-left: 7vw;
	    height: 80%;
	}
	
	.social-media-container
	{
		display: none;
	}
	
	.social-media-container-mobile
	{
		//position: absolute;
		//right: 2vw;
		background-color: red;
	}
	
	.footer-quote
	{
		display: none;
	}
}