 /* CSS Document */

body {
    font-family: "all-round-gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(225, 210, 191);
    display: flex;
    flex-direction: column;
}

.header-section {
	background-color: rgb(225, 210, 191, .8);
    font-size: 40px;
    z-index: 2;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0%;
    bottom: 87vh;
    left: 5vw;
    right: 5vw;
}

.logo {
	margin-left: 1%;
    width: 45%;
}

.logo-mobile
{
	display: none;
}

.header-options
{
	margin-top: 2vh;
	display: inline-flex;
	flex-direction: row;
    color: rgb(8, 8, 7);
	text-decoration: none;
}

.header-logo-div
{
	display: flex;
}

.header-options-div
{
	display: inline-flex;
}

nav {
    color: rgb(98,122,126);
}

ul{
    display: flex;
    list-style-type: none;
    //width: 16vw;
    justify-content: space-between;
    font-size: 1.5vw;
}

.header-options-div-mobile
{
	display: none;
}

.header-options-div-mobile.show {
	display: block;
}

.header-options-div-mobile.hide {
	display: none;
}

li {
    margin-top: 3vh;
	margin-left: 1vw;
}

.projcts-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 13vh;	
}

.project-container{ 	
    margin-bottom: 3vh;
	margin-left: 5vw;
    margin-right: 5vw;
}

.project-colums{
    display: flex;
	padding-top: 10px;
}

.project-info-column-mobile
{
	display: none;
}

.horizontal-line 
{
    border: 0 solid rgb(135, 179, 74);
    border-top-width: 3px;
    border-radius: 1px;
    flex: 1;
    margin-bottom: 10px;
  }

.project-container-logo
{
    border: 3px solid rgb(237, 97, 46);
    border-radius: 5px;
	float: right;
	height: 100%;
    width: 100%;
}

.project-info-column
{
    width: 20%;
	position: relative;
}

.project-title
{
	width: 80%;
	display: block;
}

.project-title-text
{
	float: left;
	font-size: 2vw;
	padding-top: 0.5%;
}

.project-info-year
{
	display: inline-flex;
	vertical-align: top;
	font-size: 1.2vw;
	float: left;
	color: rgb(116, 115, 115);
}

.project-info-category
{
	font-size: 1.2vw;
	
	background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(135, 179, 74);
    border-radius: 100px; 
    padding: 8px 11px;
    text-decoration: none;
	float: left;
	vertical-align: bottom;
	position: absolute;
  	bottom: 0;
  	left: 0;
}

p7
{
	font-size: 1.2vw;
	color: rgb(98,122,126);
}

.footer-container
{
	background: white;
}

.footer-text-info
{
	padding-top: 1%;
	margin-left: 5vw;
    margin-right: 5vw;
}

.footer-name
{

}

.footer-email
{

}

.footer-divder
{
	margin-left: 5vw;
    margin-right: 5vw;
}

.footer-lower-section
{
	padding-top: 2vh;
	margin-left: 5vw;
    margin-right: 5vw;
	display: flex;
	height: 16vh;
}

.footer-logo
{
	height: 10vh;
}

.social-media-container
{
	margin-left: 20%;
	display: inline-flex;
	padding-top: 1vh;
	height: 5vh;
}

.social-media-icon
{
	width: 2vw;
}

.social-media-container-mobile
{
	display: none;
}

.footer-quote
{
	font-size: 1vw;
	font-weight: 400;
	margin-left: 60vw;
	margin-top: -2vh;
	text-align: right;
}

.horizontal-footer-list
{
	background-color: red;
	display: inline-flex;
}

ul.horizontal-footer-list li
{
	
	vertical-align: bottom;
}

a {
    text-decoration: none;
	color: inherit; 
}

a1 {
	
    text-decoration: none;
}

.hamburger-menu-section
{
	display: none;
}

@media only screen and (max-width: 1000px){
    .hamburger
	{
        display: flex;
        border: 0;
        background: transparent;
        color: white;
        font-size: 30px;
		margin-top: 3vh;
		margin-right: 2vw;
    }
	
	.header-section
	{
		background-color: rgb(225, 210, 191, .8);
		font-size: 40px;
		z-index: 2;
		backdrop-filter: blur(5px);
		position: fixed;
		top: 0%;
		bottom: 87vh;
	}
	
	.hamburger-menu-section
	{
		display: block;
	}
	
	.hamburger-menu-cancel
	{
		display: block;
		background: transparent;
		color: white;
		outline: none;
		border: 0;
		font-size: 1.5rem;
		height: 5vh;
		width: 5vw;
		margin-top: 4vh;
	}
	
	.hamburger-menu-options
	{
		display: block;
		background-color: white;
		z-index: 4;
		width: 50vw;
		height: 100vh;
		top: 0%;
		right: -6%;
		position: fixed;
	}
	
	.header-options-div
	{
		display: none;
	}
	
	.header-options-div-mobile
	{
		display: none;
		
		z-index: 3;
		backdrop-filter: blur(5px);
		position: fixed;
		height: 100vh;
		width: 55vw;
		top: 0%;
		right: -6%;
	}

	.header-options-div-mobile.show {
		display: block;
	}

    nav 
	{
		color: rgb(98,122,126);
    }
	
	ul
	{
		display: block;
		list-style-type: none;
		font-size: 5vw;
	}
	
	.horizontal-line-hamburger
	{
		border: 0 solid rgb(135, 179, 74);
		border-top-width: 2px;
		border-radius: 1px;
		flex: 1;
		margin-top: 2vh;
	}

    .logo 
	{
        display: none;
    }
	
	.logo-mobile
	{
		display: flex;
    	width: 40%;
		margin-left: 2vw;
	}
	
	.projcts-section
	{
    	display: flex;
    	flex-direction: column;
    	text-align: center;
    	padding-top: 12vh;		
	}
	
	.project-container
	{ 	
    	margin-bottom: 1vh;
		margin-left: 5vw;
    	margin-right: 5vw;
	}
	
	.project-colums
	{
		display: block;
	}
	
	.project-title
	{
		margin-left: 1vw;
		width: 100%;
	}
	
	.project-title-text
	{
		font-size: 5vw;
		padding-top: 1vh;
		font-weight: 500;
		margin-bottom: 3vh;
	}
	
	.project-container-logo
	{
		border: 3px solid rgb(237, 97, 46);
		border-radius: 5px;
		float: right;
		height: 100%;
		width: 100%;
	}
	
	.project-info-column
	{
		display: none;
		margin-top: 34vh;
		width: 100%;
	}
	
	.project-info-column-mobile
	{
		width: 100%;
		height: 3.5vh;
		display: flex;
	}
	
	.project-info-year
	{
		font-size: 5vw;
		text-align-last: right;
		color: rgb(116, 115, 115);
		position: absolute;
		right: 8vw;
		margin-top: 0.5vh;
	}

	.project-info-category-mobile
	{
		color: rgb(183, 123, 102);
    	border: 2px solid rgb(135, 179, 74);
    	border-radius: 100px; 
    	padding: 4px 11px;
    	text-decoration: none;
	}
	
	p7
	{
		font-size: 4vw;
		color: rgb(98,122,126);
	}
	
	.footer-lower-section
	{
		margin-top: 2vh;
		margin-left: 5vw;
    	margin-right: 5vw;
		height: 7vh;
		display: flex;
	}

	
	.footer-logo
	{
		padding-top: 0vh;
		margin-left: 2vw;
	    height: 80%;
	}
	
	.social-media-container
	{
		display: none;
	}
	
	.social-media-container-mobile
	{
		background-color: red;
	}
	
	.footer-quote
	{
		display: none;
	}
}